* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	--black: #000000;
	--blue: #14213d;
	--orange: #fca311;
	--platinum: #e5e5e5;
	--white: #ffffff;
}

*::selection {
	background-color: var(--orange);
	color: var(--white);
}

.container {
	background-color: var(--white);
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(ellipse, var(--white), var(--blue));
	animation: backgroundMove 20s infinite alternate;
}

.nav {
	display: flex;
	background: url("../../images/imagesMM/space.png") no-repeat 120%;
	background-size: 100vw;
	color: var(--white);
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	font-size: 3vh;
	border-bottom: 0.2vh solid var(--white);
}

.nav-item {
	width: 100%;
}

.nav-links {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}

.nav-links a {
	color: var(--white);
	transition: all 0.3s ease-out;
}

a {
	text-decoration: none;
}

.nav-title a {
	font-size: 1.4em;
	margin-left: 5vh;
	color: var(--white);
}

.nav-links a:hover,
.nav-links a:focus {
	outline: none;
	color: var(--orange);
	font-size: 1.2em;
}

@keyframes changeColor {
	0% {
		color: var(--white);
		font-size: 1em;
	}
	100% {
		color: var(--orange);
		font-size: 1.2em;
	}
}

.footer {
	height: 10vh;
	background: url("../../images/imagesMM/space.png") no-repeat;
	background-size: 100vw;
	width: 100vw;
	border-top: 0.2vh solid var(--white);
}
