* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	top: 0px;
	width: 100%;
	background-color: rgb(44, 44, 44);
	color: rgb(87, 147, 153);
	text-align: center;
}

#contenedor {
	background: rgb(92, 92, 92);
	background: radial-gradient(circle, rgb(189, 214, 247) 0%, rgb(87, 147, 153) 40%, rgb(0, 0, 0) 90%);
	height: 100%;
	color: rgb(189, 214, 247);
}
