
:root{
	/*--img_puzzle:url("../../images/imagesST/bandera2.png");*/
	/*--img_fondo:url("../../images/imagesST/bandera.png");*/

	/*--img_puzzle:url("../../images/imagesST/celia2.jpg");
	--img_fondo:url("../../images/imagesST/celia.jpg");*/

	/*--img_puzzle:url("../../images/imagesST/cabo2.jpg");
	--img_fondo:url("../../images/imagesST/cabo.jpg");*/




}

#img-container{
   background-size: 120vw 120vh;

	 width:100vw;
	 height: 100vh;
	 position:fixed;
	 top: 0;
	 z-index:-1;
   filter: blur(3px);

}
#head{
	background-color:white;
	}
#table{
	width:50vw ;
	height:70vh;
	border: 0.2vh solid white;


}


#number {
	  display:inline-block;
	  width:9vw;
  	height:5vh;
    font-size:4vh;
    color:black;
    background-color:white;


}
#moves  {
	  display:inline-block;
	  width:9vw;
    height:5vh;
    font-size:4vh;;
    color:black;
    background-color:white;



}
puzzle-contenedor{

	float:static;
}
.numeros{
	display:absolute;
}
p{
	color:black;
	font-size:2vh;
}


.screen {
	display:flex;
	float:right;
flex-direction: column;
justify-content: space-between;
	border: 0.1vh solid black;
	background-color: white;
	color: #666666;
	font-size:3vh;
	width:10%;
	height: 30%;

}
/*Puzzle 5x5*/
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9,.tile10,.tile11, .tile12, .tile13, .tile14, .tile15, .tile16,.tile17,.tile18, .tile19, .tile20, .tile21, .tile22, .tile23,.tile24,.tile25{

  display: table-cell;
  border: 0.2vh solid black;
  cursor: pointer;
  background-size:500%;



}
.tile1::before {
  content:"1";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile2::before {
  content:"2";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile3::before {
  content:"3";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile4::before {
  content:"4";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile5::before {
  content:"5";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile6::before {
  content:"6";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile7::before {
  content:"7";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile8::before {
  content:"8";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile9::before {
  content:"9";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile10::before {
  content:"10";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile11::before {
  content:"11";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile12::before {
  content:"12";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile13::before {
  content:"13";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile14::before {
  content:"14";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile15::before {
  content:"15";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile16::before {
  content:"16";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile17::before {
  content:"17";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile18::before {
  content:"18";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile19::before {
  content:"19";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile20::before {
  content:"20";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile21::before {
  content:"21";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile22::before {
  content:"22";
  opacity:0.60;
  position:absolute;
  font-size: 3vw;
  text-shadow: 2px 2px 4px black;
  color:white;
}
.tile23::before {
  content:"23";
  opacity:0.60;
  position:absolute;
  text-shadow: 2px 2px 4px black;
  color:white;
  font-size: 3vw;

}
 .tile24::before {
   content:"24";
   opacity:0.60;
   position:absolute;
   font-size: 3vw;
   text-shadow: 2px 2px 4px black;
   color:white;
 }
 

/*Puzzle 5x5*/

.tile1{background-position: 0 0}
.tile2 {background-position: 25% 0%;}
.tile3 {background-position: 50% 0%;}
.tile4 {background-position: 75% 0%;}
.tile5 {background-position: 100% 0%;}
.tile6 {background-position: 0% 25%;}
.tile7 {background-position: 25% 25%;}
.tile8 {background-position: 50% 25%;}
.tile9 {background-position: 75% 25%;}
.tile10 {background-position:100% 25%;}
.tile11 {background-position:0% 50%;}
.tile12 {background-position:25% 50%;}
.tile13 {background-position:50% 50%;}
.tile14 {background-position:75% 50%;}
.tile15 {background-position:100% 50%;}
.tile16 {background-position:0% 75%;}
.tile17 {background-position:25% 75%;}
.tile18 {background-position:50% 75%;}
.tile19 {background-position:75% 75%;}
.tile20 {background-position:100% 75%;}
.tile21 {background-position:0% 100%;}
.tile22 {background-position:25% 100%;}
.tile23 {background-position:50% 100%;}
.tile24 {background-position:75% 100%;}
.tile25 { background-position: 100% 100%;}
/*---------------------------------------------------------------------------------*/
nav {
	margin: 27px auto 0;
  display:flex;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
  flex-basis: 100%;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 25%;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 25%;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 25%;
	left: 25%;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 25%;
	left: 50%;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 25%;
	left: 75%;
	background-color: #9b59b6;
}



h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p{
  font-size:20px;
}

span {
    color: #2BD6B4;
}

/*-----------------------------------------------------------------------------------------------*/


body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
width:100%;

  background-attachment: fixed;;
  font-family: sans-serif;
}

.container2 {
display:inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}

table {

	width: 1200px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;

}

th {
	text-align: left;
  font-style: italic;
}

thead {
	th {
		background-color: #55608f;

	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
.button {
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  margin :0;
  margin-top: 8%;
  background-color:rgba(255,255,255,0.2) ;
}
.button-tematica{
display:inline-block;
position:relative;
}
