
:root{
	/*--img_puzzle:url("../../images/imagesST/bandera2.png");*/
	/*--img_fondo:url("../../images/imagesST/bandera.png");*/

	--img_puzzle:url("../../images/imagesST/celia2.jpg");
	--img_fondo:url("../../images/imagesST/celia.jpg");

	/*--img_puzzle:url("../../images/imagesST/cabo2.jpg");
	--img_fondo:url("../../images/imagesST/cabo.jpg");*/




}

#img-container{
   background-size: 120vw 120vh;
   background: var(--imagen_fondo);
	 width:100vw;
	 height: 100vh;
	 position:fixed;
	 top: 0;
	 z-index:-1;
   filter: blur(3px);

}
#head{
	background-color:white;
	}
#table{
	width:50vw ;
	height:70vh;
	border: 0.1vh solid white;


}


#number {
	display:inline-block;
	width:9vw;
	height:5vh;
    font-size:4vh;
    color:black;
    background-color:white;


}
#moves  {
	  display:inline-block;
	  width:9vw;
    height:5vh;
    font-size:4vh;;
    color:black;
    background-color:white;



}
puzzle-contenedor{

	float:static;
}
.numeros{
	display:absolute;
}
p{
	color:black;
	font-size:2vh;
}


.screen {
	display:flex;
	float:right;
flex-direction: column;
justify-content: space-between;
	border: 0.1vh solid black;
	background-color: white;
	color: #666666;
	font-size:3vh;
	width:10%;
	height: 30%;

}
/*Puzzle 5x5*/
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9,.tile10,.tile11, .tile12, .tile13, .tile14, .tile15, .tile16,.tile17,.tile18, .tile19, .tile20, .tile21, .tile22, .tile23,.tile24,.tile25{

  display: table-cell;
  border: 0.2vh solid white;
  background: var(--img_puzzle);
  cursor: pointer;
  background-size:500%;



}
/*puzzle 4x4*/
/*.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9,.tile10,.tile11, .tile12, .tile13, .tile14, .tile15, .tile16{

  display: table-cell;
  width: 0;
  height: 0;
  border: 1px solid white;
  background: var(--img_puzzle);
  cursor: pointer;
  background-size:400%;



}*/
/*puzzle 3x3*/
/*.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9{

  display: table-cell;
  width: 0;
  height: 0;
  border: 1px solid white;
  background: var(--img_puzzle);
  cursor: pointer;
  background-size:300%;



}*/



/*Puzzle 3x3*/

/*.tile1 {background-position: 0 0}
.tile2 {background-position: 50% 0%;}
.tile3 {background-position: 100% 0%;}
.tile4 {background-position: 0% 50%;}
.tile5 {background-position: 50% 50%;}
.tile6 {background-position: 100% 50%;}
.tile7 {background-position: 0% 100%;}
.tile8 {background-position: 50% 100%;}
.tile9 {background-position: 100% 100%;}

*/
/*Puzzle 4x4*/

/*.tile1 {background-position: 0 0}
.tile2 {background-position: 33.33% 0%;}
.tile3 {background-position: 66.66% 0%;}
.tile4 {background-position: 99.99% 0%;}
.tile5 {background-position: 0% 33.33%;}
.tile6 {background-position: 33.33% 33.33%;}
.tile7 {background-position: 66.66% 33.33%;}
.tile8 {background-position: 99.99% 33.33%;}
.tile9 {background-position: 0% 66.66%;}
.tile10 {background-position:33.33% 66.66%;}
.tile11 {background-position:66.66% 66.66%;}
.tile12 {background-position:99.99% 66.66%;}
.tile13 {background-position:0% 99.99%;}
.tile14 {background-position:33.33% 99.99%;}
.tile15 {background-position:66.66% 99.99%;}
.tile16 {background: white; cursor: default;}
*/

/*Puzzle 5x5*/

.tile1 {background-position: 0 0}
.tile2 {background-position: 25% 0%;}
.tile3 {background-position: 50% 0%;}
.tile4 {background-position: 75% 0%;}
.tile5 {background-position: 100% 0%;}
.tile6 {background-position: 0% 25%;}
.tile7 {background-position: 25% 25%;}
.tile8 {background-position: 50% 25%;}
.tile9 {background-position: 75% 25%;}
.tile10 {background-position:100% 25%;}
.tile11 {background-position:0% 50%;}
.tile12 {background-position:25% 50%;}
.tile13 {background-position:50% 50%;}
.tile14 {background-position:75% 50%;}
.tile15 {background-position:100% 50%;}
.tile16 {background-position:0% 75%;}
.tile17 {background-position:25% 75%;}
.tile18 {background-position:50% 75%;}
.tile19 {background-position:75% 75%;}
.tile20 {background-position:100% 75%;}
.tile21 {background-position:0% 100%;}
.tile22 {background-position:25% 100%;}
.tile23 {background-position:50% 100%;}
.tile24 {background-position:75% 100%;}
.tile25 { background: white;cursor: default;}
/*---------------------------------------------------------------------------------*/
nav {
	margin: 27px auto 0;
display:flex;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {

	font-family: sans-serif;

}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p{
  font-size:20px;
}

span {
    color: #2BD6B4;
}
