nav {
	margin: 27px auto 0;
	display: flex;
	position: relative;
	width: 59%;
	height: 7%;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	flex-basis: 100%;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 25%;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
	width: 25%;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
	width: 25%;
	left: 25%;
	background-color: #e74c3c;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
	width: 25%;
	left: 50%;
	background-color: #3498db;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
	width: 25%;
	left: 75%;
	background-color: #9b59b6;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 3vh;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
	font-size: 20px;
}

span {
	color: #2bd6b4;
}
